extends baseEmail

block content
  p Hi #{firstName},
  p Your request to delete your account has been received.
  p We're sorry to see you go! Your account will be permanently deleted in 5 days. If this wasn't you or you've changed your mind, please contact us immediately at 0700766087.
  p Kipchimchim Group Team

