extends baseEmail

block content
  p Hi #{firstName},
  p Your verification code: #{url}. Expires in 5 minutes.
  p Keep it confidential!
  p If you need any help, please don't hesitate to call - 0700766087
  p Kipchimchim Group Team